/* TYPERWRITER SECTION */

body.dark-theme {
    background: #111827;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

#typewriter::after {
    content: "|";
    display: inline-block;
    margin-left: 4px;
    color: #60a5fa;

    animation: smoothBlink 1s infinite;

    text-shadow: 0 0 8px rgba(96, 165, 250, 0.6);
}

@keyframes smoothBlink {
    0%,
    49% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }
}

/* Project Swiper */

.swiper {
    width: 100%;
    padding: 10px 0 50px;
}

.swiper-slide {
    height: auto;
}

.swiper-slide > div {
    height: 100%;
}

.swiper-slide {
    display: flex;
}

.swiper-slide > div {
    width: 100%;
}

/* Contact Swiper */

/* Contact Swiper */

.contactSwiper {
    width: 100%;
    padding: 50px 40px 70px;
}

.contactSwiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-card {
    width: 100%;
    max-width: 320px;
    background: #fff;
    border-radius: 20px;
    padding: 35px 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    transition: 0.35s;
    text-align: center;
}

.contact-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.contact-icon {
    font-size: 3rem;
    margin-bottom: 15px;
}

.contact-card h4 {
    font-size: 22px;
    font-weight: 700;
    color: #1f2937;
    margin-bottom: 10px;
}

.contact-card p {
    color: #6b7280;
    font-size: 16px;
    word-break: break-word;
}

.contactSwiper .swiper-button-next,
.contactSwiper .swiper-button-prev {
    color: #2563eb;
}

.contactSwiper .swiper-pagination-bullet {
    background: #2563eb;
}

.contactSwiper .swiper-pagination-bullet-active {
    width: 22px;
    border-radius: 20px;
}
